@charset "utf-8";
/* CSS Document */

#wrapper {
	width: 1200px;
	margin: 20px auto;
	padding: 10px;
	border-color: #00457d;
	border-width: 2px;
	border-style: solid;
	}

#wrap{
	position:relative;
}
	
p {
	color:#00457d;
	font-size:14px;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	clear:both;
	}

h1 {
	font-size:24px;
	font-weight:lighter;
	color:#00457d;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	margin-bottom: 0px;
	}
	
h2 {
	font-size:20px;
	color:#00457d;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	float:left;
	margin-bottom: 0px;
	padding-right:10px;
	}

h3 {
	font-size:12px;
	color:#CFCFCF;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	float:right;
	margin-bottom: 0px;
}

h4 {
	font-size:14px;
	color:#00457d;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	margin-bottom: 5px;
	}

strong{
	font-weight:bold;
}

hr{
border:solid #CFCFCF 1px;
}

tr, td{
	font-size:12px;
	color:#00457d;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	padding-right:20px;
}

#modulesTable{
	width:500px;
	}
	
#mandatory{
	width:500px;
	}

#nonMandatory{
	width:500px;
	}
		
		

#chart{
	float:left;
	padding:0;
	margin:0;
	position:absolute;
	z-index:999;
}

#smallTable{
	position:absolute;
	padding-top: 180px;
	padding-left: 225px;
	z-index:-999;
}

#inhalt{
	float:right;
	padding-right:50px;
	padding-bottom:20px;
	margin:0;
}

#tr1{
	font-size:20px;
	color:#00457d;
	font-weight:bold;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	float:left;
	padding-right: 10px;
	margin-bottom: 0px;
	text-align:center;
	padding-left:50px;
}

#tr2{
	font-size:14px;
	color:#00457d;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	margin-bottom: 5px;
	text-align:center;
	padding-left:20px;
}

#tr3{
	font-size:12px;
	color:#CFCFCF;
	font-weight:lighter;
	font-family:  "Open Sans",Arial,Helvetica,sans-serif;
	float:right;
	margin-bottom: 0px;
	text-align:center;
	padding-left:20px;
}

#clear{
	clear:both;
}