@charset "utf-8";
/* CSS Document */

p {
	font-weight: bold;
	color:#1CBFA3;
	font-size:24px;
	}

h1 {
	font-weight: bold;
	color:#1CBFA3;
	font-size:35px;
	}

h2 {
	font-weight: bold;
	color:#1CBFA3;
	font-size:30px;
	}